html {
    margin: 0;
}
.container {
    align-items: center;
    background-color: rgb(255, 94, 0);
    display: flex;
    justify-content: center;
    height: 100vh;
    color: silver;

}
.login {
    align-items: center;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    height: auto;
    width: 300px;
    border: 1px solid whitesmoke;
}

h2  {
    color: black;
    margin-bottom: 0px;
}

p   {
    margin-top: 8px;
    margin-bottom: 40px;
}

input {
    margin: 8px;
    border: 1px solid lightgray;
    width: 60%;
}

::placeholder {
    color: lightgray;
}

button {
    background-color: rgb(255, 94, 0);
    border: none;
    border-radius: 30px;
    color: white;
    height: 25px;
    width: 61%;
}

.switchBtn {
    border: 3px solid;
    background-color: white;
    color: rgb(255, 94, 0);
    margin-bottom: 10px;

}

a {
    align-items: start;
    color: lightskyblue;
    display: flex;
    font-size: 70%;
    margin-top: 16px;
    margin-bottom: 16px;
    text-decoration: none;
    text-align: left;
    width: 61%;

}