<div class="container">
  <div class="row">
      <div class="col-xs-12">

          <h1>Upcoming Meetings</h1>
          <hr>

          <!-- Button for upload:
          https://material.angular.io/components/button/overview -->

          <button
            mat-raised-button
            id="btn"
            (click)="openDialog()">
          + New Meeting</button>


          <!-- basic divider: for list items
          https://material.angular.io/components/divider/examples-->

          <mat-list>
            <!-- <mat-list-item *ngIf="isLoading">waiting for documents...</mat-list-item> -->
              <mat-list-item>
                <div class="item">
                    <div class="item-flex">
                        <!-- <p>{document.name}</p> -->
                    </div>
                    <fa-icon
                      [icon]="faTrash"
                      ></fa-icon>

                </div>
                <mat-divider></mat-divider>
              </mat-list-item>
              <!-- <p *ngIf="documents.length === 0">Upload a Document</p> -->
          </mat-list>


          <!-- Dialog to open images
          https://material.angular.io/components/dialog/examples -->

          <!-- icon from font awesome:
          https://fontawesome.com/v5.15/how-to-use/on-the-web/setup/getting-started

          OR https://material.angular.io/components/icon/api#MatIcon-->

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Name Column -->
            <ng-container matColumnDef="Meeting name">
              <th mat-header-cell *matHeaderCellDef> Meeting name </th>
              <td mat-cell *matCellDef="let meeting"> {{meeting['Meeting name']}} </td>
            </ng-container>

            <!-- "Meeting date" Column -->
            <ng-container matColumnDef="Meeting date">
              <th mat-header-cell *matHeaderCellDef> Meeting date </th>
              <td mat-cell *matCellDef="let meeting"> {{meeting["Meeting date"]}} </td>
            </ng-container>

            <!-- Attendees Column -->
            <!-- Select nG mat component for attendees list -->
            <ng-container matColumnDef="attendees">
              <th mat-header-cell *matHeaderCellDef> Attendees </th>
              <td mat-cell *matCellDef="let meeting"> {{meeting.attendees}} </td>
            </ng-container>

            <ng-container matColumnDef="menu">
              <th mat-header-cell *matHeaderCellDef=""></th>
              <td mat-cell *matCellDef="let meeting">

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <span>Copy Invitation</span>
                  </button>
                  <button mat-menu-item id="cancel">
                    <span>Cancel meeting</span>
                  </button>
                </mat-menu>

              </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

      </div>
  </div>
</div>
