.example-container {
    background-color: whitesmoke;
    display: flex;
    height: 100vh;
    margin: 0;
    padding-top: 10px;
    width: 100vw;
}

mat-drawer {
    background-color: lightgray;
    padding-top: 20px;
    min-width:max-content;
    width: 15%;
    text-align: center;
}

mat-drawer-content {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

.logo {
    height: 50px;
}

#sign-out {
    position: absolute;
    left: 0;
    bottom: 0;
}
 #title {
     color: grey;
     margin:  32px 0px 32px 0px;
     font-size: 40px;
 }
