<div class="container">
    <div class="row">
        <div class="col-xs-12">
            
            <h1>Documents</h1>
            <hr>
            
            <!-- Button for upload: 
            https://material.angular.io/components/button/overview -->
            
            <button mat-raised-button>Upload</button>

            
            <!-- basic divider: for list items
            https://material.angular.io/components/divider/examples-->
            
            <mat-list >
                <mat-list-item>
                        <div class="item">
                            <div class="item-flex">
                                <img src="assets/images/doge.jpeg" alt="i">
                                <p>Item-1.png</p>
                            </div>
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 3</mat-list-item>
                <mat-divider></mat-divider>

            </mat-list>
                    
            
            <!-- Dialog to open images 
            https://material.angular.io/components/dialog/examples -->
        
            <!-- icon from font awesome: 
            https://fontawesome.com/v5.15/how-to-use/on-the-web/setup/getting-started
        
            OR https://material.angular.io/components/icon/api#MatIcon-->


            


        </div>
    </div>
</div>