<div class="container">

  <div class="header">
    <div class="content">
      <img src="assets/images/Image 13.png" alt="Mission Graduates Logo">
      <p>Member Portal</p>
    </div>
  </div>

  <div class="body">

    <mat-card class="members-card">

      <mat-card-header>
        <mat-card-title id="members-card-title">
          Members
        </mat-card-title>
      </mat-card-header>

      <mat-divider inset></mat-divider>

      <div id="members-items">
        <mat-card-header>
          <div mat-card-avatar class="members-header-image1 members-item"></div>
          <mat-card-title>Edward Kaufman</mat-card-title>
        </mat-card-header>

        <mat-card-header>
          <div mat-card-avatar class="members-header-image2 members-item"></div>
          <mat-card-title>Robert Benavidez</mat-card-title>
        </mat-card-header>

        <mat-card-header>
          <div mat-card-avatar class="members-header-image3 members-item"></div>
          <mat-card-title>Natalie Guandique</mat-card-title>
        </mat-card-header>

        <mat-card-header>
          <div mat-card-avatar class="members-header-image4 members-item"></div>
          <mat-card-title>Catherine Marroquin</mat-card-title>
        </mat-card-header>

        <p class="link members-item">View all board members</p>

      </div>
    </mat-card>

    <mat-card class="committees-card">

      <mat-card-header>
        <mat-card-title id="committees-card-title">
          Committees
        </mat-card-title>
      </mat-card-header>

      <mat-divider inset></mat-divider>
    </mat-card>




  </div>

</div>
