.container {
  height: 100%;
  background: #FAFAFA;
}
.header  {
  align-items: center;
  background-color: #D5D5D5;
  display: flex;
  color: #5C5C5C;
  height: 35%;
  justify-content: center;
}
.content  {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10%;
  width: 70vw;
}
